.container{
    height: 10vh;
    padding: 1%;
}

.filterPlayer{
    /* position: absolute; */
    height: 3vh;
    z-index: 1000;
    opacity: 0.5;
}

.under{
    position: absolute;
    height: 10vh;
    width: auto;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    padding-left: 1vh;
    padding-right: 1vh;
}

.P1{
    filter: hue-rotate(0turn);
}

.P2{
    filter: hue-rotate(0.2turn);
}

.P3{
    filter: hue-rotate(0.4turn);
}

.P4{
    filter: hue-rotate(0.6turn);
}

.P5{
    filter: hue-rotate(0.8turn);
}
