body{
    background-color: rgb(75, 64, 42);
}

.container{
    
    height: 15vh;
    padding: 0%;
}

.filterPlayer{
    /* position: absolute; */
    height: 4vh;
    z-index: 1000;
    opacity: 0.5;
}

.under{
    background-color: bisque;
    position: absolute;
    height: 15vh;
    width: auto;
    border-width: 1px;
    border-style: dotted;
    border-color: black;
    padding-left: 5vh;
    padding-right: 1vh;
}

.P1{
    filter: hue-rotate(0turn);
}

.P2{
    filter: hue-rotate(0.2turn);
}

.P3{
    filter: hue-rotate(0.4turn);
}

.P4{
    filter: hue-rotate(0.6turn);
}

.P5{
    filter: hue-rotate(0.8turn);
}
